.home {
    min-height: 80vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.intro-name {
    background-color: brown;
    font-size: 10vh;
    text-align: center;
    letter-spacing: -2px;
}

.intro-description {
    background-color: brown;
    font-size: 3vh;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 40vh;
}