.about-container {
    height: 100vh;
    background-color: #1b1f23;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 1))
}

.about-title {
    margin-left: 550px;
    margin-top: 125px;
    background-color: transparent;
    color: #fff;
    font-size: 40px;
    text-align: right;
    z-index: 1000;
}

.about-photo-container {
    display: flex;
    position: absolute;
    background-color: #1b1f23;
    width: 45%;
    height: 100vh;
    left: 0px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.about-circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    top: 225px;
    left: 150px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #fff;
    background: linear-gradient(135deg, #00a5e6, #00e6db, #7eff84);
    mask-image: linear-gradient(to bottom, black 0%, transparent 75%);
}

.about-profile-photo {
    margin-left: 25px;
    bottom: 75px;
    background-image: url('/images/profile-picture.png');
    width: 600px;
    height: 600px;
    background-size: cover;
    background-color: transparent;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.about-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    width: 45%;
    height: 100vh;
    right: 0px;
}

p.about-description-1 {
    margin-top: 300px;
    margin-right: 300px;
    margin-bottom: 0px;
    min-width: 700px;
    background: none;
    color: #fff;
    font-style: italic;
    letter-spacing: 1px;
}

p.about-description-2 {
    margin-right: 300px;
    margin-bottom: 200px;
    min-width: 700px;
    background: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: large;
    line-height: 30px;
}