.experience-container {
    min-height: 100vh;
    background-color: #1b1f23;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.experience-1 {
  width: 525px;
  height: 350px;
  border-radius: 25px;
  background-color: #2e353b;
}

.experience-h1 {
  margin: 25px;
  background: none;
  font-size: 30px;
  color: #fff;
  text-align: left;
}

.experience-p {
  margin: 25px;
  margin-top: -20px;
  background: none;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.experience-date {
  margin: 25px;
  margin-top: -20px;
  background: none;
  font-size: 15px;
  color: #fff;
  text-align: left;
  font-style: italic;
}

.experience-description {
  margin: 25px;
  background: none;
  font-size: 15px;
  color: #fff;
  text-align: left;
  font-weight: lighter;
  line-height: 25px;
}