.headerUl {
  font-size: 2vh; /* size of text */
  background: none;
}

.headerLi {
  display: inline-block; /* puts items beside each other */
  background: none;
}

.headerA {
  text-decoration: none; /* remove all decorations */
  color: rgb(29, 29, 31);
  margin: 20px; /* spaces between texts */
  background: none;
}
