.home-container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.home-intro-name {
    margin-top: 25px;
    color: #1b1f23;
    font-size: 75px;
    text-align: center;
    letter-spacing: -3.5px;
}

.home-profession {
    font-size: 20px;
    text-align: center;
    color: #1b1f23;
}

.home-logo-container {
    background-size: cover;
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-top: 30px;
}