.projects {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.project-1, .project-2, .project-3 {
  max-width: 400px;
  max-height: 700px;
  background-color: rgb(255, 255, 255);
  margin: 25px;
  border-radius: 25px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  margin-top: 100px
}

.image-container-p1, .image-container-p2, .image-container-p3 {
  background-size: cover;
  background-position: center;
  min-width: 100px;
  min-height: 200px;
  background-color: red;
  margin: 25px;
  border-radius: 15px;
}

.image-container-p1 {
  background-image: url('/public/images/trainin-aas.jpg');
}

.image-container-p2 {
  background-image: url('/public/images/instaprint.jpg');
}

.image-container-p3 {
  background-image: url('/public/images/instaprint.jpg');
}

h1 {
  text-align: left;
  margin-left: 25px;
  margin-bottom: -25px;
}

p {
  text-align: justify;
  margin: 25px;
}

p.date {
  margin-top: -25px;
  font-style: italic;
}

p.description {
  margin-top: -10px;
}