.projects {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Project Cards */
.project1, .project2, .project3 {
  max-width: 400px;
  height: 625px;
  background-color: rgb(255, 255, 255);
  margin: 25px;
  border-radius: 25px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  margin-top: 100px
}

/* Card image holders */
.imageContainerP1, .imageContainerP2, .imageContainerP3 {
  background-size: cover;
  background-position: center;
  min-width: 100px;
  min-height: 200px;
  margin: 25px;
  border-radius: 15px;
}

.imageContainerP1 {
  background-image: url('/images/trainin-aas.jpg');
}

.imageContainerP2 {
  background-image: url('/images/instaprint.jpg');
}

.imageContainerP3 {
  background-image: url('/images/shouldu.jpg');
}

h1 {
  text-align: left;
  margin-left: 25px;
  margin-top: -10px;
  margin-bottom: -25px;
}

p {
  text-align: justify;
  margin: 25px;
}

p.date {
  margin-top: -25px;
  font-style: italic;
}

p.description {
  margin-top: -10px;
  font-size: 15px;
}

.toolsContainer {
  display: grid;
  grid-template-columns: 150px 50px 150px;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.tools {
  display: flex;
  width: 110px;
  height: 25px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.react, .js, .ts, .html, .css, .sqlite, .python, .mysql, .apacheCordova {
  background-size: contain;
  background-position: center;
  width: 15px;
  height: 15px;
  background-color: transparent;
  margin-right: 5px;
}

.react {
  background-image: url('/images/logos/react.png');
}

.js {
  background-image: url('/images/logos/js.png');
}

.ts {
  background-image: url('/images/logos/ts.png');
}

.html {
  background-image: url('/images/logos/html.png');
}

.css {
  background-image: url('/images/logos/css.png');
}

.sqlite {
  background-image: url('/images/logos/sqlite.svg');
}

.python {
  background-image: url('/images/logos/python.png');
}

.mysql {
  background-image: url('/images/logos/mysql.png');
}

.toolsApacheCordova {
  display: flex;
  width: 110px;
  height: 25px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
  border-radius: 25px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}

.apacheCordova {
  background-image: url('/images/logos/apache-cordova.png');
}
