@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none; /* For WebKit-based browsers */
  -moz-user-drag: none;    /* For Firefox */
  -o-user-drag: none;      /* Older Opera */
  user-select: none;       /* Prevent text selection (optional) */
}

::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE/Edge (legacy) */
html {
  -ms-overflow-style: none;
}